@{
  Layout = "_Layout";
}
    @using VendorAndOrderTracker.Models;

    <h3>Here are all the orders for this vendor:</h3>
    @if (Model.Count == 0)
    {
      <p>There are no orders!</p>
    }
    <div class ="flex container">
      <div id="list">
        <ol>
        @foreach (Order order in @Model["orders"])
        {
          <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
        }
        </ol>
      </div>
    </div>

    <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
    <p><a href='/vendors'>Return to vendor list</a></p>
    <p><a href='/'>Take me home</a></p>

    <form action="/orders/delete" method="post">
      <button type="submit" name="button">Clear All Orders</button>
    </form>
