@{
  Layout = "_Layout";
}

<h1>Frank's Vendors and Orders!</h1>
<h3><a href='/vendors'>View vendor list</a></h3>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>
<a href='/orders'>See list of orders</a>